PORT =
 
MONGO_URI = 
 
CLIENT_URL =
ADMIN_URL =

JWT_SECRET=   # génération du JWT : node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"

SECURE_COOKIE= # lors du deploiment mettre true sinon ne rien mettre = false ( bolléen). Si false = "false"

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=